.footer-container {
  max-width: 100%;
  min-height: 200px;
  background-image: url("../Bottom.png");
  background-size: cover;
}

.social_link {
  display: flex;
}

.footer_copy {
  margin: 5px;
  padding: 10px;
}

.social_link img {
  margin: 5px;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 100%;
    min-height: 100px;
    background-image: url("../Bottom.png");
    background-size: 100% 100px;
  }
}
