@import '../../App.css';
.show {
  display: block !important;
}
.navbar {
  background: #fff;
  padding: 5px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar ul li a {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.navbar ul li a:hover {
  color: var(--blue);
}
.w-full{
  width: 100%;
}
.hero-section {
  background-image: url('../hero1.jpg');
  height: 650px;
  background-repeat: no-repeat;
}
.pt-nav {
  padding-top: 40px;
}
.logo2 img {
  height: 80px;
  width: 150px;
}
.logoimg {
  height: 170px;
  /* width: 154px; */
}
.ms-6 {
  margin-left: 8rem;
}
.mt-7 {
  margin-top: 6rem;
}.container {
  padding-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo2 img {
  height: 80px;
}

.navItems {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItems a {
  text-decoration: none;
  color: #000;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-item {
  position: relative;
}


.dropdown-menu {
  display: block;
  position: absolute;
  top: 189%;
  left: 0;
  width: 16rem;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown-menu li{
  padding: 6px 10px;
}

.nav-item:hover .dropdown-menu,
.nav-item .dropdown-menu:hover {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; /* No delay when showing */
}

@media (max-width: 768px) {
  .navItems {
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: absolute;
    width: 80vw;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .navItems.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .navItems li {
    padding: 6px 10px;
  }

  .navItems.open {
    display: flex;
  }

  .navbar-toggler {
    display: block;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    padding: 0;
  }
}
