@import '../../App.css';

.navbar {
  background: #fff;
  padding: 5px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar ul li a {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.navbar ul li a:hover {
  color: var(--blue);
}
.w-full{
  width: 100%;
}
.hero-section {
  background-image: url('../hero1.jpg');
  height: 650px;
  background-repeat: no-repeat;
}
.pt-nav {
  padding-top: 40px;
}
.logo2 img {
  height: 80px;
  width: 150px;
}
.logoimg {
  height: 170px;
  /* width: 154px; */
}
.ms-6 {
  margin-left: 8rem;
}
.mt-7 {
  margin-top: 6rem;
}
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu-small {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 3vh;
  font-weight: 400;
}



.dropdown-menu {
  position: absolute;
  top: 100%;
  right: -10%;
  width: 150px;
  list-style: none;
  background-color: var(--grey);
  z-index: 1;
  text-align: center;
}

.dropdown-menu-button {
  display: none;
  position: absolute;
  height: 90vh;
  top: 100%;
  right: -10%;
  width: 150px;
  list-style: none;
  background-color: var(--white);
  z-index: 1;
  text-align: center;
}

.drop-link a {
  color: var(--white);
}

.more-option {
  cursor: pointer;
  display: none;
}

.dropdown-menu .nav-item {
  position: relative;
}

.dropdown-item {
  padding: 10px 15px;
  margin: auto 0;
  background-color: var(--white);
}

.dropdown-item-button {
  padding: 13px 1px;
  margin: auto 0;
  background-color: var(--white);
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-icon {
  color: black;
}

.navbar-toggle .navbar-icon {
  display: block;
  width: 25px;
  height: 2px;
  color: black;
  background-color: black;
  margin: 5px 0;
}

.heading-div {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 20px;
}

@media (max-width: 1028px) {
  .more-option {
    display: block;
  }
  .active {
    display: none;
  }
  .Contact,
  .Training,
  .CLientsOpt,
  .ProjectsOpt,
  .ProjectsOpt,
  .ServicesOpt,
  .AboutOpt,
  .PeopleOpt,
  .HomeOpt,
  .LegendOpt {
    display: none;
  }
  .ContactOpt,
  .TrainingOpt {
    display: block;
  }
}

@media (max-width: 950px) {
  .Contact,
  .Training,
  .CLients,
  .People,
  .ProjectsOpt,
  .ServicesOpt,
  .AboutOpt,
  .HomeOpt,
  .LegendOpt {
    display: none;
  }
  .ContactOpt,
  .TrainingOpt,
  .CLientsOpt,
  .PeopleOpt {
    display: block;
  }
}

@media (max-width: 800px) {
  .Contact,
  .Training,
  .CLients,
  .People,
  .Projects,
  .Services,
  .AboutOpt,
  .HomeOpt,
  .LegendOpt {
    display: none;
  }
  .ContactOpt,
  .TrainingOpt,
  .CLientsOpt,
  .PeopleOpt,
  .ProjectsOpt,
  .ServicesOpt {
    display: block;
  }
}

@media (max-width: 788px) {
  .Contact,
  .Training,
  .CLients,
  .Projects,
  .Services,
  .About,
  .Legend {
    display: none;
  }
  .ContactOpt,
  .TrainingOpt,
  .CLientsOpt,
  .ProjectsOpt,
  .ServicesOpt,
  .AboutOpt,
  .LegendOpt {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .dropdown-menu-button {
    display: none;
    position: absolute;
    top: 100%;
    right: -600%;
    width: 330px;
    list-style: none;
    background-color: var(--white);
    z-index: 1;
    text-align: center;
  }
  .active {
    display: block;
  }

  .Contact,
  .Training,
  .CLients,
  .Projects,
  .Services,
  .About,
  .Legend,
  .Home,
  .more-option,
  .People {
    display: none;
  }
  .ContactOpt,
  .TrainingOpt,
  .CLientsOpt,
  .ProjectsOpt,
  .PeopleOpt,
  .HomeOpt,
  .ServicesOpt,
  .AboutOpt,
  .LegendOpt {
    display: block;
  }

  .navbar-toggle {
    display: block;
  }

  .nav-item {
    position: relative;
  }
}
